* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #00274c;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ffcb05;
  display: grid;
  place-items: center;
}
